* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: hsl(218, 28%, 13%);
	color: white;			
}

.HeaderWrapper
{
	width: 80%;	
	margin: auto;
	margin-top: 50px;
	height: 100px;
}

.Logo
{
	width: 300px;
	float: left;
	cursor: pointer;
}

.HeaderMenuWrapper
{
	float: right;	
	display: flex;
	flex-wrap: nowrap;
}

.HeaderMenuItem
{
	width: 120px;
	text-align: center;
	cursor: pointer;
}

.HeroWrapper
{
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.HeroTitle
{
	font-size: 30px;	
	width: 40%;
	text-align: center;
	font-weight: bold;
	margin-top: 30px;
}

.HeroDetails
{
	font-size: 18px;
	margin-top: 30px;
	text-align: center;
	width: 40%;
}

.CallToActionBtn
{
	margin-top: 30px;
	width: 200px;
	height: 40px;
	text-align: center;
	padding-top: 10px;
	border-radius: 15px;
	background-color: hsl(176, 68%, 64%);
	cursor: pointer;
}

.FeaturesWrapper
{
	width: 60%;	
	margin: auto;
	margin-top:170px;
}

.FeaturesRow
{
	width: 100%;
	display: flex;	
}

.FeatureElemWrapper
{
	width: 50%;	
	height: 300px;
}

.FeatureElem
{
	width: 60%;
	margin:auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.FeatureTitle
{
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
}

.FeatureDetails
{
	margin-top: 15px;
	font-size: 15px;
}


.FyloWorksWrapper
{
	margin-top:100px;
	width: 70%;
	margin: auto;
	display: flex;
}

.FyloWorksImage
{
	width: 50%;
	display: flex;	
	flex-direction: column;
	align-items: center;
}

.FyloWorksImage img
{
	margin: auto;
}

.StayProductiveWrapper
{
	width: 50%;
	display: flex;
	align-items: center;
}

.StayProductiveElem
{
	width: 80%;
	margin: auto;
}

.StayProductiveTitle
{
	width: 50%;
	font-size: 30px;
	font-weight: bold;	
}

.StayProductiveDetails
{
	margin-top: 20px;
	font-size: 16px;
}

.HowFyloWorks
{
	margin-top: 20px;
	text-decoration: underline;
	color: hsl(176, 68%, 64%);
	cursor: pointer;
	position: relative;
	width: 165px;
}

.HowFyloWorks img
{
	position: absolute;
	right: 0px;
	top: 1px;
}

.TestimonialsWrapper
{
	display: flex;
	width: 80%;
	margin: auto;
	margin-top: 170px;
	margin-bottom: 250px;
	justify-content: space-around;
}

.TestimonialElem
{
	width: 30%;
	height: 200px;
	display: flex;
	align-items: center;
	background-color: hsl(219, 30%, 18%);
	border-radius: 10px;
}

.Testimonial
{	
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.Testimonial .Details
{
	margin-top: 20px;
}

.ClientWrapper
{
	display: flex;
	margin-top: 20px;
}

.ClientImg
{
	
	height: 40px;
	width: 40px;
	border-radius: 20px;
	background-size: contain;
}

.ClientImg1
{
	background-image: url('../images/profile-1.jpg');
}

.ClientImg2
{
	background-image: url('../images/profile-2.jpg');
}

.ClientImg3
{
	background-image: url('../images/profile-3.jpg');
}

.ClientDetails
{
	margin-left:10px;
}

.ClientName
{
	margin-top: 5px;
	font-size: 13px;
	font-weight: bold;
}

.ClientPosition
{
	font-size: 12px;
	margin-top: 5px;
}

.FooterSection
{
	height: 500px;
	background-color: hsl(216, 53%, 9%);
	position: relative;
}

.EarlyAccessWrapper
{
	position: absolute;
	height: 250px;
	width: 50%;
	left: 25%;
	top: -125px;
	background-color: hsl(217, 28%, 15%);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.EarlyAccessContent
{
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;	
	align-items: center;
	height: 200px;
	justify-content: space-around;
}

.EarlyAccessContent .Title
{
	font-size: 28px;
	font-weight: bold;
	height: 50px;
}

.EarlyAccessContent .Details
{
	font-size: 16px;	
	height: 70px;
	line-height: 25px;
	text-align: center;
}

.SignUpWrapper
{
	width: 100%;
	display: flex;
	height: 70px;
	align-items: center;
}

.SignUpInput
{
	width: 60%;
	height: 50px;
	border-radius: 25px;	
	padding-left: 20px;
}

.SignUpBtn
{
	width: 35%;
	height: 45px;
	font-weight: bold;
	border-radius: 25px;
	text-align: center;
	padding-top: 14px;
	background-color: hsl(176, 68%, 64%);
	cursor: pointer;
	margin-left: 30px;
}

.FooterContentWrapper
{
	width: 90%;
	position: absolute;
	top: 200px;
	left: 5%;
	display: flex;
	flex-direction: column;	
}

.FooterLogoWrapper
{
	width: 100%;	
}

.FooterContent
{
	width: 100%;
	display: flex;
	margin-top: 50px;
	height: 200px;
}

.LocationWrapper
{
	width: 30%;
	display: flex;
	height: 100px;
}

.LocIcon
{
	margin-top: 5px;
}

.LocationDetails
{
	margin-left: 30px;
	line-height: 25px;
}

.ContactWrapper
{
	width: 35%;	
	display: flex;
	flex-direction: column;	
	align-items: center;
}

.PhoneContact
{
	display: flex;
	width: 200px;		
}

.PhoneDetails
{
	margin-left: 20px;
}

.EmailContact
{
	display: flex;
	width: 200px;
	margin-top: 20px;	
}

.EmailDetails
{
	margin-left: 20px;
}


.LinksWrapper1
{
	width: 12%;
	display: flex;
	flex-direction: column;
}

.FooterLink
{
	cursor: pointer;
	margin-top: 15px;
}


.FooterLink:hover
{
	font-weight: bold;
}

.FirstFooterLink
{
	margin-top: 0px;
}

.LinksWrapper2
{
	width: 12%;
	display: flex;
	flex-direction: column;
}

.SocialMediaWrapper
{
	width: 10%;
	display: flex;
	justify-content: space-around;
}

.FooterIcon {
	width: 40px;
	height: 40px;
	filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(143deg) brightness(105%) contrast(103%);
    cursor: pointer;
}





.row::after {
	content: "";
	clear: both;
	display: table;
}


/* For mobile phones: */

[class*="col-"] {
	width: 100%;
}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.col-s-1 {
		width: 8.33%;
	}
	.col-s-2 {
		width: 16.66%;
	}
	.col-s-3 {
		width: 25%;
	}
	.col-s-4 {
		width: 33.33%;
	}
	.col-s-5 {
		width: 41.66%;
	}
	.col-s-6 {
		width: 50%;
	}
	.col-s-7 {
		width: 58.33%;
	}
	.col-s-8 {
		width: 66.66%;
	}
	.col-s-9 {
		width: 75%;
	}
	.col-s-10 {
		width: 83.33%;
	}
	.col-s-11 {
		width: 91.66%;
	}
	.col-s-12 {
		width: 100%;
	}
	[class*="col-"] {
		float: left;
	}
	
}

@media only screen and (min-width: 1000px) {
	/* For desktop: */
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
}